git+https://github.com/huggingface/alignment-handbook.git@main
transformers
peft
accelerate
bitsandbytes
datasets
google-generativeai
toml
pyyaml
huggingface_hub
tqdm
# openai, gemini, gemini-vertex, anthropic, anthropic-vertex, anthropic-bedrock
genai-apis[gemini]